.dd-list.dd-list_roman {
    padding-left: 30px;
    list-style: upper-roman;
}

.dd-list.dd-list_roman .dd-item,
.dd-list.dd-list_roman .dd-empty,
.dd-list.dd-list_roman .dd-placeholder {
    display: list-item;
}

.dd-list_roman .dd-handle {
    margin-left: -30px;
    padding-left: 30px;
}

.modules-tree-select {
    float: left;
}

.modules-tree-select select {
    width: 200px;
}